@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    font-family: "Poppins", sans-serif;
    font-weight: normal;
}
.main-container{
    max-height: calc(100vh - 56px);
    overflow-y: auto;
    padding: 0px 10px;
}
.main-container::-webkit-scrollbar{
    width: 4px;
    padding: 0px 10px;
}
.main-container::-webkit-scrollbar-thumb{
    background-color: #ffffff12;
    border-radius: 50px;
}

.sidebar-container{
    max-height: calc(100dvh - 80px);
    overflow-y: auto;
    overflow-x: auto;
    max-width: auto;
}

.sidebar-container::-webkit-scrollbar{
    width: 4px;
    height: 4px;
}

.sidebar-container::-webkit-scrollbar-track{
    background-color: transparent;
}

.sidebar-container::-webkit-scrollbar-thumb{
    background-color: #ffffff12;
    border-radius: 50px;
}

.thankyou-text{
    /* transition: all .3s; */
    animation: blink 3s linear infinite;
}

/* animation remove*/
@keyframes blink{
    0%{
        color:#ffffff;
    }
    25%{
        /* color:#4ADE80; */
        text-shadow: -1px 0px 38px rgba(74,222,128,0.37);
    }
    50%{
        color: #ffffff;
    }
    100%{
        /* color:#4ADE80 */
    }
}

@media(max-width:320px){
    .avatar-container{
        width: 60px!important;
        height: 41px!important;
    }
}